@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Gelion-Regular.ttf") format("ttf");
}
